<html>
    <head>
        <h1 align="center">Django CRUD Operations</h1>
        <hr></hr> 
    </head>

    <body style="bgcolor:red",>
        <a href="{% url 'home_page' %}">Home</a>
        <a href="{% url 'admin_login_page' %}">Admin Login</a>
        <a href="{% url 'user-reg_page' %}">User Registration</a>
        <a href="{% url 'user-login_page' %}">User Login</a>
        <a href="{% url 'contact-us_page' %}">Contact Us</a>


        <h2 align="center">Contact Us</h2>
    </body>
</html>