<html>
    <head>
            <title>From index.html page</title>
    </head>

    <body bgcolor="sky blue">
           
 <h2 align="center" style="color:White"> Django CRUD opearations</h2><hr color="red"><hr color="red">
            <a href="{% url 'index' %}">Index</a> <br>
            <a href="{% url 'user_login' %}">User Login</a>     <br>
            <a href="{% url 'admin_login' %}">Admin Login</a> <br>
            <a href="{% url 'contact_page' %}">Contact Us</a> <br>
            <a href="{% url 'user_reg' %}">User Registration</a>

            <h3 align="center">Index Page</h3>
    </body>

</html>